resource "vault_kv_secret_v2" "github_fluxcd" {
  name      = "github/fluxcd-chan"
  mount     = vault_mount.secrets.path
  data_json = <<EOT
{
  "githubAppID": "xxx",
  "githubAppInstallationID": "xxx",
  "githubAppPrivateKey": "-----BEGIN RSA PRIVATE KEY-----\n\n-----END RSA PRIVATE KEY-----\n"
}
EOT
}

resource "vault_kv_secret_v2" "minio_mgmt" {
  name      = "minio/mgmt"
  mount     = vault_mount.secrets.path
  data_json = <<EOT
{
  "MINIO_ROOT_PASSWORD": "<TODEFINE>",
  "MINIO_ROOT_USER": "<TODEFINE>"
}
EOT
}

resource "vault_kv_secret_v2" "minio_clusters" {
  name      = "minio/clusters"
  mount     = vault_mount.secrets.path
  data_json = <<EOT
{
  "MINIO_ROOT_PASSWORD": "<TODEFINE>",
  "MINIO_ROOT_USER": "<TODEFINE>"
}
EOT
}


resource "vault_kv_secret_v2" "pdns_mariadb" {
  name      = "powerdns/mariadb"
  mount     = vault_mount.secrets.path
  data_json = <<EOT
{
  "database": "<TODEFINE>",
  "password": "<TODEFINE>",
  "user": "<TODEFINE>"
}
EOT
}

resource "vault_kv_secret_v2" "pdns_server" {
  name      = "powerdns/server"
  mount     = vault_mount.secrets.path
  data_json = <<EOT
{
  "api_key": "<TODEFINE>",
  "webserver_password": "<TODEFINE>"
}
EOT
}
resource "vault_kv_secret_v2" "ccm" {
  name  = "proxmox/CCM"
  mount = vault_mount.secrets.path

  data_json = <<EOT
{
  "secret": "<TOGET>",
  "tokenid": "<TOGET>"
}
EOT
}

resource "vault_kv_secret_v2" "capmox" {
  mount     = vault_mount.secrets.path
  name      = "proxmox/capmox"
  data_json = <<EOT
{
  "secret": "<TOGET>",
  "tokenid": "<TOGET>",
  "url": "https://proxmox.bealv.lan:8006"
}
EOT
}

resource "vault_kv_secret_v2" "csi" {
  mount     = vault_mount.secrets.path
  name      = "proxmox/CSI"
  data_json = <<EOT
{
  "secret": "<TOGET>",
  "tokenid": "<TOGET>"
}
EOT
}
